extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
  | Kurukshetra learners was created to help students learn from video lectures by experts.
  | <br /><br />
  | Lorem Here you can acess notes as well as courses for free.